# === macOS ===
.DS_Store
.AppleDouble
.LSOverride

# === Xcode ===
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/

# === Swift Package Manager ===
.swiftpm/
.build/

# === CocoaPods ===
Pods/
Podfile.lock

# === Carthage ===
Carthage/Build/

# === Fastlane ===
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# === Environment files ===
.env